<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
	<ion-toolbar>
    <div class="back-circle"></div>
		<ion-title class="ion-text-center custom-font">Login</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen="true">

<div class="ion-padding">
<div class="logo"></div>
    <app-logo class="center"></app-logo>
  <form class="ion-padding" (ngSubmit)="onLogin(f)" #f="ngForm">
    <div class="wrap-input">
    <input class="form-control input" required type="text" name="user-name" [(ngModel)]="username" id="user-name" placeholder="Username" >
    </div>

    <div class="wrap-input">
    <input class="form-control input" required type="password" name="user-pass" id="user-pass" [(ngModel)]="password" placeholder="Password">
    </div>

    <div class="container-form-btn">
      <button class="form-btn custom-font ion-margin-horizontal" type="submit">  <!--(click)="onLogin()"-->
      Login
      </button>
      <button class="form-btn custom-font ion-margin-horizontal" routerLink="/auth/signup">
        Sign Up
        </button>
    </div>   
  </form>
</div>

</ion-content>

