<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurants/tabs/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-font">
      Details   
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullsreen color="tertiary">
  <div class="ion-padding adjustPadding">
    <img [src]="updatedRestaurant.imageMain" class="ion-padding-horizontal">
<div class="ion-padding">
  <div class="desc">
    <h4 class="custom-font">
      {{updatedRestaurant.Title}}
    </h4>
    <h6 class="custom-font">
      {{updatedRestaurant.Description}} 
    </h6>
    <h4 class="custom-font">
      {{updatedRestaurant.rating}}/5.0
    </h4>
  </div>

  <ion-button color="medium" mode="ios" expand="block" shape="round" (click)="onDelRestaurant()">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Delete from favorites
  </ion-button>
  
    </div>

  </div>

</ion-content>
