ion-toolbar {
    --background: #2a2e43;
    --ion-color-base: #2a2e43 !important;
    }

    ion-title {
      color: white;
    }

h5, p {
    color: white;
}

ion-content {
    --background: #2a2e43;
}
div {
    ion-input{
        .title {
            font-size: 24px;
        }
    }

    ion-textarea {
        .description{
            font-size: 16px;
        }
    }
}