<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Favorites   
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="uiFixer">
  <ion-card 
  *ngFor="let restaurants of userFavorites" 
  class="bgOverride ion-no-padding" 
  [routerLink]="['/','restaurants','tabs','favorites',restaurants.rId]"
  >
      <img [src]="restaurants.imageMain">
      <ion-card-header>
        <ion-card-subtitle>Restaurant</ion-card-subtitle>
        <ion-card-title>{{restaurants.Title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      {{restaurants.Description}}
      </ion-card-content>
  </ion-card>
</div>
</ion-content>

