<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="custom-font" >
      Manage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <h1 *ngIf="filtered.length===0"><b>Merchant Requests</b></h1>
  <h1 *ngIf="filtered.length===0">Oops. You don't have any requests right now</h1>  
  <ion-slides>
    <ion-slide *ngFor="let users of filtered" [routerLink]="['/','adminpanel','admin','manage',users.ownRestaurant.id]" >
      <ion-card class="ion-text-start" color="tertiary" >
        <img [src]="users.tempUpdate.rimageUrl.imgMain">
      <ion-card-header>
        <ion-card-title>{{users.tempUpdate.rTitle}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{users.tempUpdate.rDescription}}
      </ion-card-content>
      <footer>
        <ion-button class="ion-no-margin" expand="block" color="medium" (click)="onAccept(users.tempUpdate)">
          Accept
        </ion-button>
        <ion-button class="ion-no-margin" expand="block" color="medium" (click)="onDeny(users.tempUpdate)">
          Deny
        </ion-button>
      </footer>
    </ion-card>
    </ion-slide>
  </ion-slides>
 <!--
  <h1 *ngIf="filtered.length===0">Posts</h1>
  <ion-slides>
    <ion-slide *ngFor="let posts of loadedPosts">
      <ion-card class="ion-text-start" color="tertiary">
        <img [src]="posts.rimageUrl.imgMain">
      <ion-card-header>
        <ion-card-title>{{posts.rTitle}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{posts.rDescription}}
      </ion-card-content>
      <footer>
        <ion-button class="ion-no-margin" expand="block" color="medium" (click)="onDelete(posts)">
          Delete
        </ion-button>
      </footer>
    </ion-card>
    </ion-slide>
  </ion-slides>

-->

</ion-content>
