h5 {
 margin-top: 4px;
}
ion-content {
    --background: #2a2e43;
}

ion-toolbar {
    --background: #2a2e43;
    --ion-color-base: #2a2e43 !important;
    }

    ion-title {
      color: white;
    }

h5, p {
    color: white;
}

h1{ 
    font-size: 16px;
    color: white;
}

ion-card {
    border-radius: 20px;
}